
<ion-content>

  <img class="imagemLogo" src="./assets/img/img.jpg">

  <ion-item>
    <ion-label position="stacked">Floating Label</ion-label>
  <ion-input type="email" inputmode= "email" name="email" required="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Floating Label</ion-label>
    <ion-input type="password" inputmode= "password" name="password" required="true"></ion-input>
  </ion-item>

<ion-button color="success" (click)="login()" >Entrar</ion-button>
</ion-content>
