
<ion-content>

<div class="imagemLogo">
  <img src="./assets/img/img.jpg">
</div>

<form [formGroup]="formularioLogin" >
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
  <ion-input type="email" inputmode= "email" formControlName="email" required="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input type="password" inputmode= "password" formControlName="password" required="true"></ion-input>
  </ion-item>
  <ion-button color="success" type="submit" expand="block" (click)="login(formularioLogin.value)">Entrar</ion-button>
</form>

<ion-button type="button" expand="block" (click)= "cadastrar()" fill="clear">Cadastrar</ion-button>

</ion-content>
