
<ion-content>

<div class="imagemLogo">
  <img src="./assets/img/img.jpg">
</div>

<form [forGroup]="formularioLogin" (ngSubmit)="login(formularioLogin.value)">
  <ion-item>
    <ion-label position="stacked">Floating Label</ion-label>
  <ion-input type="email" inputmode= "email" formControlName="email" required="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Floating Label</ion-label>
    <ion-input type="password" inputmode= "password" formControlName="password" required="true"></ion-input>
  </ion-item>
</form>
<ion-button color="success" type="submit">Entrar</ion-button>
</ion-content>
